body {
    padding-bottom: 20px;
}

a {
    cursor:pointer;
}

.calendar-grid {
    min-width: 800px;
}

.calendar-grid-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.calendar-grid-hours {
    float: left;
    width: 60px;
}

.calendar-grid-content {
    overflow: hidden;
}

.calendar-grid-column {
    float: left;
    width: 14.2%;
    border-left: 1px solid #eee;
}

.calendar-grid-hours-header,
.calendar-grid-day-header {
    height: 30px;
}

.calendar-grid-day-header {
    text-align: center;
    color: #999;
    font-size: 12px;
}

.calendar-grid-hour-cell {
    height: 40px;
    border-top: 1px solid #eee;
}

.calendar-grid-day-reservations {
    position: relative;
}

.calendar-grid-reservation {
    position: absolute;
    left: -1px;
    right: -1px;
    border: 2px solid rgb(200, 45, 15);
    padding: 3px;
    background: rgb(241, 85, 35);
}

.calendar-grid-reservation-overlaps-previous {
    border-top: none;
}

.calendar-grid-reservation-overlaps-next {
    border-bottom: none;
}

.calendar-grid-reservation-delete-button {
    position: absolute;
    color: rgb(160, 30, 8);
    bottom: 0px;
    right: 0px;
}

.calendar-grid-reservation-delete-button:hover {
    text-decoration: none;
    color: rgb(160, 30, 8);
}